{% extends "/base/default-page.html" %}
{% block content %}
<div style="margin: 0 auto; text-align: center;">
    <h1 style="color: #4CAF50; font-size: 2.5em; margin-bottom: 20px;">Personal Information</h1>

    <div style="background-color: #f9f9f9; border-radius: 10px; padding: 20px; width: 80%; margin: 0 auto;">
        <p style="font-size: 1.2em; color: #333;">
            First name: {{ personal.first_name }} | Last name: {{ personal.last_name }}<br>
            Weight: {{ personal.weight }}<br>
            Height: {{ personal.height }}<br>
            Age: {{ personal.age }}<br>
            Gender: {{ personal.gender }}
        </p>
    </div>

    <!-- แสดงผลลัพธ์ result -->
    <div style="margin-top: 20px; background-color: #eef; padding: 20px; border-radius: 10px;">
        <h2>Results</h2>
        <p>{{ results }}</p>
    </div>

    <!-- แสดงรูปภาพ -->
    {% if image_path %}
    <div style="margin-top: 20px;">
        <h2>Uploaded Image</h2>
        <img src="{{ url_for('static', filename='views/utils/temp/downloaded_image.jpg') }}" alt="Uploaded Image" style="max-width: 400px; max-height: 400px;">
    </div>
    {% else %}
    <p>No image available.</p>
    {% endif %}
</div>

<img {{ image_path }}>
{% endblock content %}
