{% extends "/base/page.html" %}
{% block content %}

<!-- Main Header -->
<div class="ui center aligned segment" style="margin-top: 8rem; border: 0; box-shadow:none">
  <p><span class="ui huge text">Responsive UI Examples</span></p>
  <p><span class="ui big text">Basic Responsive</span></p>
  <p><span class="ui large text">Celled Stackable Grid</span></p>
</div>
<div style="padding: 1%;">
  <!-- Responsive Form -->
  <form method="POST" enctype="multipart/form-data" class="ui form">
    <!-- CSRF Token for protection -->
    {{ form.csrf_token }}

    <!-- Responsive Grid -->
    <div class="ui stackable celled grid container">
      <!-- First row: First Name and Last Name -->
      <div class="two column row">
        <div class="column">
          <!-- First Name Field -->
          <div class="field">
            <label>First Name</label>
            {{ form.first_name }}
          </div>
        </div>
        <div class="column">
          <!-- Last Name Field -->
          <div class="field">
            <label>Last Name</label>
            {{ form.last_name }}
          </div>
        </div>
      </div>

      <!-- Second row: Weight, Height, Gender, Age -->
      <div class="four column row">
        <div class="column">
          <!-- Weight Field -->
          <div class="field">
            <label>Weight</label>
            {{ form.weight }}
          </div>
        </div>
        <div class="column">
          <!-- Height Field -->
          <div class="field">
            <label>Height</label>
            {{ form.height }}
          </div>
        </div>
        <div class="column">
          <!-- Gender Field -->
          <div class="field">
            <label>Gender</label>
            {{ form.gender }}
          </div>
        </div>
        <div class="column">
          <!-- Age Field -->
          <div class="field">
            <label>Age</label>
            {{ form.age }}
          </div>
        </div>
        <div class="column">
          <!-- Age Field -->
          <div class="field">
            <label>Activity</label>
            {{ form.activity }}
          </div>
        </div>
        <div class="column">
          <!-- Age Field -->
          <div class="field">
            <label>File</label>
            <div class="ui file input" style="margin-bottom: 1%;">
              {{ form.document_upload }}
            </div>
          </div>
        </div>
      </div> 

        <div class="row">
          <div class="column">
        <button class="ui fluid large black submit button" type="submit">Submit</button>
        <!-- <a class="ui fluid large black submit button" href="{{ url_for('home.index')}}">submit</a> -->
      </div>
    </div>
</div>

</form>
</div>

{% endblock content %}