{% extends "base/page.html" %}
{% block content %}
<div class="ui cards" style="padding: 3rem;">
    {% for foodimage in foodimages | sort(attribute='updated_date', reverse=True) %}
    <div class="ui huge card" style="width: 400px;">
        <img src="" style="max-width: 100%; max-height: 300px; object-fit: cover;" />
        <div class="extra content">
            <div class="ui two buttons">
                <a class="ui primary button" href="{{url_for('foodimage.edit', foodimage_id=foodimage.id)}}">
                    แก้ไข
                </a>
                <a class="ui red button" href="{{url_for('foodimage.delete', foodimage_id=foodimage.id)}}">
                    ลบข้อมูล
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}